.reviews {
    min-height: 920px;
    margin-bottom: 48px;
    &__item {
        margin-top: 60px;
        display: flex;
        img {
            width: 169px;
            height: 169px;
        }
    }
    &__wrapper {
        margin-left: 61px;
        max-width: 680px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__achi {
        font-size: 14px;
        font-weight: 500;
        color: #646464;
    }
    &__descr {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #0d0d0d;
    }
}